<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .box{
            height: 200px;
            width: 200px;
            background-color: red;
        }
        .active{
            background-color: green;
        }
    </style>
</head>
<body>
<div id="app">
    <ul v-if="data.status === 'ok' ">
        <li v-for='(item,index) in data.users' :key="index">
            <h3>{{ item.id }} --- {{ item.name }} --- {{ item.age }}</h3>
        </li>
    </ul>
    <div>
        <p v-for="(value,key) in person">
            {{ key }} ----- {{ value }}
        </p>
    </div>
</div>
<script src="vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data(){
            return{
                data:{
                    status:'ok',
                    users:[
                        {id:1,name:'alex',age:18},
                        {id:2,name:'wusir',age:30},
                        {id:3,name:'Biul',age:28},
                    ]
                },
                person:{
                    name:"alex"
                }
            }
        },
        methods:{
        }
    })
</script>
</body>
</html>

