<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery-3.3.js"></script>
</head>
<body>

<h4>INDEX页面</h4>
<button class="btn">提交Ajax</button>
<p class="show"></p>
<hr>
{% csrf_token %}
<input type="text" id="num1"> + <input id="num2" type="text"> = <input id="ret" type="text"><button class="cal">计算</button>
<hr>
<form action="/name/" method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    姓名 <input type="text" name="user">
    <input type="submit" value="提交">
</form>
<h4>文件上传</h4>
<form action="/file_put/" method="post" enctype="multipart/form-data">
{#    {% csrf_token %}#}
    name <input type="text" name="user">
    file <input type="file" name="file_obj">
    <input type="submit">
</form>
<script>

       //   j简单的ajax请求
       $(".btn").click(function () {

           $.ajax({
               url:"/handle_ajax/",
               type:"get",
               success:function (response) {
                   console.log(response);
                   $(".show").html(response)
               }
           })


       });

       //  传参Ajax请求
       
       $(".cal").click(function () {

           var num1=$("#num1").val();
           var num2=$("#num2").val();

           $.ajax({
               url:"/cal/",
               type:"post",
               data:{
                   num1:num1,
                   num2:num2,
                   csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()

               },
               success:function (response) {
                   console.log(response);
                   $("#ret").val(response)
               }

           })


       })
    
    
</script>

</body>
</html>